/* CSS Document */

/* general style propertyies */

body { 
  margin: 0; padding: 0; 
  background: url(../images/caBIG_footer.gif) no-repeat bottom right #F4F4F5; 
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 10pt; 
  color: #000000; 
}

h1, h2, h3, h4 { 
  margin: 0; 
  padding: 0;
  color: #2E3257; 
  font-weight: 600; 
}

h1 { 
  font-size: 1.2em; 
  margin-bottom: 12px;
}
h2 { font-size: 1.0em; }
h3, h4 { font-size: 0.9em; }

#header { 
  background: url(../images/header_BG.gif) repeat-x top; 
  min-width: 770px; 
}

#header .background-R { 
  background: url(../images/header_BG_R.gif) no-repeat top right; 
}

#caAERS-logo { vertical-align: top; }

#login-action { 
  position: absolute; top: 0; right: 0; 
  padding: 6px 10px 0 20px; 
  font-size: 0.85em; 
}

#login-action a { color: #FFFFFF; font-weight: bold; text-decoration: none; }

#login-action a:hover { color: #FFFF00; }

/* top-level tabs */

#sections { 
  position: absolute; 
  top: 22px; left: 131px; 
  background: url(../images/tabs1_L1.gif) no-repeat top left; 
  padding-left: 1px; 
  font-size: .85em; 
}

#sections .tab { 
  float: left; 
  background: url(../images/tabs1_BG.gif) no-repeat top right; 
  margin: 0; 
}

#sections .tab.selected { 
  background-image: url(../images/tabs1_BG_s.gif); 
}

#sections .tab div {
  background: url(../images/tabs1_L.gif) no-repeat top left; 
  padding: 0 20px; 
  margin: 0;
}

#sections .tab.selected div {
  background-image: url(../images/tabs1_L_s.gif); 
}

#sections a {
  line-height: 18px;
  display: block;
  text-decoration: none; font-weight: bold; 
  color: #333333; 
}

#sections a:hover { color: #002EE2; }

/* taskbar */

#taskbar { 
  background: url(../images/taskbar_BG.gif) repeat-x top; 
  font-weight: bold; 
  padding: 0 20px 0 12px; 
  height: 24px; 
  font-size: .85em; 
}

#taskbar a { 
  font-weight: normal; 
  padding: 0 0 0 12px; 
  color: #002EE2; 
  text-decoration: none; 
}

#current-task { font-weight: bold; }

/* second-level tabs */

#workflow-tabs { 
  background: url(../images/tabs2_R.gif) no-repeat center left;
  background-color: #A2A2A2;
  padding-right: 12px;  
  min-height: 18px; font-size: .85em; 
}

#workflow-tabs .tab { 
  float: left; 
  background: url(../images/tabs2_BG.gif) no-repeat top left; 
  margin: 0; padding: 2px 0; 
  line-height: 14px; 
  border: 0 solid #000;
  border-right-width: 1px; 
}

#workflow-tabs .tab.selected { 
  background-image: url(../images/tabs2_BG_s.gif); 
}

#workflow-tabs .tab div { 
  position: relative; 
  left: 6px; 
  background-image: none;
  background: url(../images/tabs2_R.gif) no-repeat top right; 
  padding: 0 16px 0 10px;
}

#workflow-tabs .tab.selected div {
  background-image: url(../images/tabs2_R_s.gif); 
}

#workflow-tabs .tab.last div {
  background-image: none; 
}

#workflow-tabs a {
  text-decoration: none; 
  font-weight: bold; 
  color: #333333; 
}

#workflow-tabs a:hover {
  color: #002EE2;
}

/* third-level tabs */

.inner-tabs { 
  background: url(../images/tabs3_BG.gif) no-repeat top right; 
  padding: 4px 7px 0 0; 
  margin: 0 0 0 7px; 
  height: 20px; 
  font-size: .9em; 
}

.inner-tabs .tab { 
  float: left; 
  background: url(../images/tabs3_L.gif) no-repeat top left; 
  margin: 0; 
}

.inner-tabs .tab.selected { 
  background-image: url(../images/tabs3_L_s.gif);
}

.inner-tabs .tab div { 
  background: url(../images/tabs3_R.gif) no-repeat top right; 
  padding: 0 20px; 
}

.inner-tabs .tab.selected div { 
  background-image: url(../images/tabs3_R_s.gif); 
}

.inner-tabs a { 
  line-height: 20px;
  display: block;
  text-decoration: none; 
  font-weight: bold; 
  color: #333333; 
}
.inner-tabs a:hover { 
  color: #002EE2; 
}

#main { 
  background: url(../images/main_BG.gif) repeat-x top; 
  margin: 0; 
  padding: 12px 18px 20px 18px; 
  clear: both;
}

/* main content boxes */

.pane {
  background-color: #fff;
  float: left;
  margin: 0 14px 12px 0;
}

#summary-pane { 
  width: 25%; 
}
#main-pane { 
  width: 70%; 
}

.box .header { 
  background: url(../images/boxheader_BG.gif) repeat-x top #1972C7; 
}
.box .header h2 { 
  color: #FFFFFF; 
  margin: 0; 
  padding: 6px 20px 4px 8px;
}
.box .header .background-L { background: url(../images/boxheader_BG_L.gif) no-repeat top left; }
.box .header .background-R { background: url(../images/boxheader_BG_R.gif) no-repeat top right; }


.border-T  { background: url(../images/box_T.gif)  repeat-x top; }
.border-L  { background: url(../images/box_L.gif)  repeat-y left; }
.border-R  { background: url(../images/box_R.gif)  repeat-y right; }
.border-B  { background: url(../images/box_B.gif)  repeat-x bottom; }
.border-TL { background: url(../images/box_TL.gif) no-repeat top left; }
.border-TR { background: url(../images/box_TR.gif) no-repeat top right; }
.border-BL { background: url(../images/box_BL.gif) no-repeat bottom left; }
.border-BR { background: url(../images/box_BR.gif) no-repeat bottom right; }

.box h3 { 
  height: 24px;
  margin: 0 7px;
  font-weight: bold;
}

.box .interior {
  margin: 0 8px 0 7px;
  padding: 8px 0;
  min-height: 28px;
}

.box.tabbed .interior {
  padding-top: 0px;
}

.content { 
  padding: 8px;
}

.interior h4 {
  border-top: solid 1px #000; 
  background-color: #D7E7ED;
  padding: 4px 8px;
}

#footer { height: 65px; clear: both; }