#main, body, #footer { width: 1363px;  }
#main, body, #content, #left {
	height: 928px;
}
#footer, #CaptivateContent {
	margin-left: -337px;
	width: 1024px;
}
#footer, #size_wrapper {
	top: 922px;
}
#CaptivateContent {
	height: 800px;
	margin-top: -6px;
}
#size_wrapper {
	margin-left: -677px;	
}
